body {
    background-color: hsl(30, 38%, 92%);
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

h1 {
    font-family: 'Fraunces', serif;
    font-style: normal;
    font-weight: 700;
    font-size: 2rem;
    line-height: 2rem;
    padding-left: 1rem;
    padding-right: 1rem;
}

article {
    max-width: 23.4rem;
    height: fit-content;
    background: hsl(0, 0%, 100%);
    border-radius: 1rem;
}

.for-image-background {
    background-color: hsl(30, 38%, 92%);
}

img {
    width: auto ;
    max-width: 100% ;
    height: auto ;
    border-radius: 1rem 1rem 0 0;
}

.category {
    font-family: 'Montserrat', serif;
    font-style: normal;
    font-weight: 500;
    font-size: 0.75rem;
    line-height: 0.9rem;
    letter-spacing: 0.3rem;
    color: #6C7289;
    text-transform: uppercase;
    padding-left: 1rem;
}

.description {
    font-family: 'Montserrat', serif;
    font-style: normal;
    font-weight: 500;
    font-size: 0.9rem;
    line-height: 1.4rem;
    color: #6C7289;
    padding-left: 1rem;
    padding-right: 1rem;
}

.price-items p {
    display: inline-block;
    padding-left: 1rem;
}

.price-current {
    font-family: 'Fraunces', serif;
    font-style: normal;
    font-weight: 700;
    font-size: 2rem;
    line-height: 2rem;
    color: #3D8168;
}

.price-before {
    font-family: 'Montserrat', serif;
    font-style: normal;
    font-weight: 500;
    font-size: 0.8rem;
    line-height: 1.4rem;
    text-decoration-line: line-through;
    color: #6C7289;
    padding-left: 3.1rem;
    position: relative;
    bottom: 0.625rem;
}

.btn {
    background: hsl(158, 36%, 37%);
    max-width: 75%;
    height: 3rem;
    padding: 0.75rem 1rem;
    font-size: 1rem;
    border: 0.125rem solid green;
    border-radius: 0.5rem;
}
.for-button {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 1.875rem;
}

span.add-to-cart {
    padding-left: 1.875rem;
    color: white;
}

/* For desktop styling starts */

@media screen and (min-width: 37.5rem) {

    article {
        width: 37.5rem;
        height: 28.125rem;
    }

    button {
        width: 100%;
    }
}